.bayan {
  margin: 60px;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: antiquewhite;
  text-align: left;
}
@media  (max-width: 320px) {
  body {
    font-size: 24px;
  }
}

.bayan-name {
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-left: 15px;
}

.bayan-item {
  position: relative;
  margin-bottom: 20px;
}

.bayan-input {
  top: 0;
  left: 0;
  opacity: 0;
  position: absolute;
}

.bayan-input:checked ~ .bayan-title {
  color: black;
}

.bayan-input:checked ~ .bayan-picture {
  display: block;
}

.bayan-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  position: relative;
  color: blue;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.bayan-picture {
  opacity: 1;
  cursor: pointer;
  text-align: center;
  padding: 15px;
  display: none;
  animation: opacity 2s linear;
}

.bayan-picture:active {
  opacity: 0.5;
  animation: opacity 2s linear;
}

.bayan .icon {
  display: none;
}

.bayan:hover .bayan-input:checked + label .icon-minus {
  display: block;
}

.bayan:hover .bayan-input:not(:checked) + label .icon-plus {
  display: block;
}
